body{
    
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    transition: background-color 2s ease, transform 0.25s;
}

body:hover {
    transform: scale(1.7)
}

